.mobileMenu-header {
  display: flex;
  justify-content: space-between;
}

.mobileMenu-logo {
  margin: 30px 20px;
}

.mobileMenu-closeMenu {
  margin: 30px 70px;
  cursor: pointer;
  color: black;
  padding-top: 5px;
}

.mobileMenu-closeMenu:hover {
  color: #247a50;
}

.mobileMenu-ul {
  margin: 20px 20px;
}

.mobileMenu-ul li {
  margin-top: 20px;
}

.mobileMenu-button {
  margin: 100px 20px;
}
