.advantage-btn {
  width: 274px;
  height: 52px;
  background: #247a50;
  font-family: Montserrat;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
}

.main-advantage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 8%;
  max-height: 500px;
}

@media screen and (max-width: 1020px) {
  .main-advantage {
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 35px;
  }
}

.advantage-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10%;
  margin-top: 80px;
  margin-bottom: 236px;
}
@media screen and (max-width: 1020px) {
  .advantage-description {
    margin: auto;
  }
}

.advantageTitle {
  width: 408px;
  height: 155px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.br {
  width: 100px;
  height: 8px;
  left: 226px;
  top: 1129px;
  background: #247a50;
}

.advantageDescription {
  width: 389px;
  height: 118px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  color: #211f1f;
  margin-top: 20px;
}

.advantage-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  margin-top: 90px;
  max-height: 400px;
}
