.members-main {
  width: 470px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  margin-right: 29px;
  margin-top: 29px;
}

.members-img {
  width: 88px;
  height: 88px;
  background: rgba(0, 0, 0, 0.31);
}

.memberPhoto {
  border-radius: 50%;
}

.members-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.members-description {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  padding-top: 10px;
  padding-left: 10px;
}

.members-fullName {
  width: 129px;
  height: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #46474a;
}

.members-location {
  width: 301px;
  height: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #211f1f;
}

.members-rating {
  margin-top: 3px;
}

.members-text {
  width: 343px;
  height: 134px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #211f1f;
}

.members-right {
  margin-top: auto;
  margin-bottom: auto;
}

.testimonials-list {
  display: flex;
  flex-direction: row;
  max-width: 1694px;
}

@media screen and (max-width: 1459px) {
  .testimonials-list {
    display: flex;
    flex-direction: column;
  }
}
