.contact-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 137px auto;
  max-width: 1460px;
  height: 238px;
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.contact-us {
  width: 190px;
  height: 39px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  padding-left: 36px;
}

.contact-button {
  width: 228px;
  height: 52px;
  background: #247a50;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  margin-right: 50px;
  border: none;
}

.contact-form {
  width: 359px;
  height: 52px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: left;
  color: #000000;
  padding: 15px;
}

.contact-left {
  display: flex;
  flex-direction: column;
}

.contact-right {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.color {
  color: red;
}
