body {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  flex-direction: column;
}

.backPhoto {
  width: 100%;
  height: auto;
  min-height: 700px;
}

.header {
  animation: header 1s;
}

@keyframes header {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} ;
