.element-description {
  width: 160px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.element-img {
  padding-left: 30px;
}

.element-photo {
  max-height: 80px;
  max-width: 80px;
}
