.testimonials-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-list {
  margin: 0 10px;
}

.testimonials-members {
  display: grid;
  grid-template-columns: 0.3fr 6.4fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  margin-top: 40px;
}

.testimonials-title {
  width: 235px;
  height: 42px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.testimonials-br {
  width: 100px;
  height: 8px;
  background: #247a50;
  margin-left: auto;
  margin-right: auto;
}

.testimonials-right {
  margin: auto;
  padding: 0;
  width: 40px;
  cursor: pointer;
}

.testimonials-left {
  padding: 0;
  margin: auto;
  width: 40px;
  cursor: pointer;
}

.disableLeft {
  opacity: 0.2;
}

.left-arrow {
  margin: auto 20px auto auto;
}

.slide {
  display: none;
  opacity: 0;
  transition: all 1s ease;
}

.slide.active {
  display: block;
  opacity: 1;
  transition: all 1s ease;
}
