* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.backPhoto {
  width: 100%;
  height: auto;
  min-height: 700px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.photo {
  max-height: 800px;
}

.activePhoto {
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slide1;
          animation-name: slide1;
}

@-webkit-keyframes slide1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notActivePhoto {
  position: absolute;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slide2;
          animation-name: slide2;
}

@-webkit-keyframes slide2 {
  0% {
    z-index: 1;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes slide2 {
  0% {
    z-index: 1;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

.header {
  -webkit-animation: header 1s;
          animation: header 1s;
}

@-webkit-keyframes header {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes header {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

li {
  font-family: Montserrat, sans-serif;
  list-style: none;
  cursor: pointer;
}

.navbar {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.nav-logo {
  margin-left: auto;
  margin-right: auto;
}

.nav-menu {
  display: none;
  cursor: pointer;
}

.nav-menu:hover {
  color: #247a50;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  right: 200px;
  width: 45%;
  position: absolute;
  left: 26%;
}

.nav-language {
  position: absolute;
  top: auto;
  right: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item-mobile li {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 180%;
  color: #ffffff;
  margin-left: 10px;
}

li:hover {
  color: #247a50;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  /* background-image: url("../../image/Header.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: #ffffff;
  width: 80%;
}

.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 236px;
}

.description {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  line-height: 120%;
  color: #ffffff;
  text-transform: uppercase;
  text-align: start;
  max-width: 50%;
  max-height: 400px;
  overflow: hidden;
}

.description > div {
  overflow: hidden;
}

.btn {
  width: 274px;
  height: 52px;
  background: #247a50;
  font-family: Montserrat;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.slid {
  margin: 10px;
  height: 20px;
  width: 20px;
  background-color: blue;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
  position: relative;
  bottom: 100px;
}

.notActive {
  opacity: 0.5;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#language {
  background: lightblue;
  border-radius: 20px;
  height: 20px;
  border: 0px;
  cursor: pointer;
  outline: none;
}

.nav-closeMenu {
  height: 40px;
  width: 60px;
  display: none;
  margin-left: auto;
}

.nav-closeMenu:hover {
  color: #247a50;
}

.mobileMenuClose {
  position: absolute;
  top: -150%;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background-color: #e5e5e5;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.mobileMenuOpen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background-color: #e5e5e5;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .nav-language {
    right: 150px;
  }
  .navbar {
    padding-left: 39px;
  }
  .notActive {
    top: -100%;
    opacity: 0.5;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -200%;
    left: 0;
    opacity: 1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .nav-item-mobile {
    background: #e5e5e5;
    position: absolute;
    bottom: 0;
    top: 0;
    opacity: 1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 2;
    height: 100%;
  }
  .nav-item-mobile.notActive {
    display: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .nav-item li {
    margin: 10px 0 20px 0;
    text-align: start;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 240%;
    color: #000000;
  }
  .nav-closeMenu {
    display: block;
    z-index: 1;
    cursor: pointer;
    color: #ffffff;
    margin-left: auto;
    padding-right: 50px;
  }
  .nav-menu {
    position: absolute;
    right: 1%;
    display: block;
    color: #ffffff;
    margin-left: auto;
    padding-right: 70px;
  }
}

@media screen and (max-width: 600px) {
  .description {
    font-size: 6vw;
    max-width: 70%;
    overflow: hidden;
  }
}

@media screen and (max-width: 499px) {
  .headerPhoto {
    z-index: 4;
  }
  .nav-language {
    right: 115px;
  }
  .nav-menu {
    padding-right: 32px;
  }
  .nav-logo {
    margin-left: 0px;
  }
  .sub {
    margin-top: 40%;
  }
  .description {
    font-size: 36px;
    max-width: 90%;
    overflow: hidden;
  }
}
/*# sourceMappingURL=Navbar.css.map */