li {
  list-style: none;
  cursor: pointer;
}

li:hover {
  color: #247a50;
}

.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  /* background-image: url("../../image/Header.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.nav-list {
  width: 623px;
  height: 31px;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: #ffffff;
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 236px;
}

.description {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 120%;
  color: #ffffff;
  text-transform: uppercase;
  text-align: start;
  max-width: 496px;
}

.btn {
  width: 274px;
  height: 52px;
  background: #247a50;
  font-family: Montserrat;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
  border: none;
}

@media screen and (max-width: 900px) {
  .nav-item {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .nav-item-mobile {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    background-color: rgb(189, 169, 169);
    padding-top: 20px;
    padding-right: 20px;
    height: 100%;
    animation-name: example;
    animation-duration: 0.5s;
  }

  @keyframes example {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }

  .notActive {
    position: absolute;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    background-color: rgb(189, 169, 169);
    padding-top: 20px;
    padding-right: 20px;
    height: 100%;
    animation-name: actives;
    animation-duration: 1s;
  }

  @keyframes actives {
    0% {
      right: 0;
    }
    100% {
      right: -100%;
    }
  }

  .nav-item li {
    margin: 10px 0 20px 0;
    text-align: end;
    transition: all 0.5s ease;
  }
}

.nav-menu {
  display: none;
  cursor: pointer;
}

.nav-menu:hover {
  color: #247a50;
}

@media screen and (max-width: 900px) {
  .nav-menu {
    display: block;
    color: #ffffff;
    z-index: 1;
    margin-right: 20px;
  }
}

.nav-closeMenu {
  height: 40px;
  display: none;
  padding: auto;
  margin-right: 20px;
}

@media screen and (max-width: 900px) {
  .nav-closeMenu {
    display: block;
    z-index: 1;
    cursor: pointer;
    color: #ffffff;
  }
}

.nav-closeMenu:hover {
  color: #247a50;
}
